<html >
    <head>
        <title>Begood Plus - Catalog</title>
        <style type="text/css">
            body, html
            {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }

            #content
            {
                position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
            }
        </style>
    </head>
    <body>
        <div id="content">
            <iframe width="100%" name="iframe_a" height="100%" frameborder="0" src="{%if request.user_agent.is_mobile %} http://moras.pythonanywhere.com/ {% else %}  https://5ef318ddbb88d.site123.me/ {%endif%}" />  
        </div>
    </body>

</html>
