<html >
    <head>
        <title>ביגוד פלוס - קטלוג</title>
        <style type="text/css">
            body, html
            {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }

            #content
            {
                position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
            }
        </style>
        {% include  'base.html'%} 
        {%load static%}
        <img alt="תיאור על הקישור" src="https://docs.google.com/uc?export=download&amp;id=12D46qcXNyv2A8It3TCqmunp27j17ds6T&amp;revid=0B8kShjQpHcjUK0RGZlJmWUhRd0RYVUVHbm5CSWhna3BCSCtrPQ">
        <link rel="shortcut icon" href="{%static 'favicon.ico' %}">
    </head>
    <body>
        <div id="content">
            <iframe width="100%" name="iframe_a" height="100%" frameborder="0" src="https://5ef318ddbb88d.site123.me/"/>  
        </div>
    </body>

</html>
