<!DOCTYPE html>
<html lang="he">
    <head>
        {%load static%}
        {% include  'base.html'%} 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <title>{{album_title}} - קטלוג ביגוד פלוס</title>
        <link rel="shortcut icon" href="{%static 'my_products_logo.jpg' %}">
        {% include   'floating_action_button.html' %}
        
        <link rel="stylesheet" href="{%static 'assets/css/templatemo-style.css' %}">     
        <link rel="stylesheet" href="{%static 'assets/css/magnific-popup.css' %}">                                 
        <!-- background-color: rgba(56, 182, 230, 0.62); -->
        <style>
            body {
                
                background-color: #aa97f4;
            }
            h1 {
                direction: rtl;
            }
            .grid-item figure img {
                opacity: 0.9;
            }
            .loaded {
                overflow:scroll;
            }
            figure.effect-sadie h2 {
                color:#ffffff;
                opacity: 0.8;
            }
        </style>
    </head>
    
    <body>
    
        {% include   'website_navbar.html' %}
        <h1>{{album_title}}</h1>
        <div class="tm-img-gallery gallery-one">
            {%for image in images.all%}
            <!-- Gallery One pop up connected with JS code below -->
                <div class="grid-item">
                    <figure class="effect-sadie">
                        <img src="{% get_media_prefix %}/{{image.image_thumbnail}}" height="450px" width="450px" alt="Image" class="img-fluid tm-img">
                        <figcaption>
                            <h2 class="tm-figure-title">{{image.title}}</h2>
                            <p class="tm-figure-description">{{image.description}}</p>
                            <a href="{% get_media_prefix %}/{{image.image}}">{{image.image}}</a>
                        </figcaption>           
                    </figure>
                </div>
            {%endfor%}
        </div>
        
        
        <div id="loader-wrapper">
            
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>

        </div>
        
        <script src="{%static 'assets/js/jquery-1.11.3.min.js' %}"></script>
        <script src="{%static 'assets/js/jquery.magnific-popup.min.js' %}"></script> <!-- Magnific popup (http://dimsemenov.com/plugins/magnific-popup/) -->

        <script>
            $(window).load(function(){
                $('.gallery-one').magnificPopup({
                    delegate: 'a', // child items selector, by clicking on it popup will open
                    type: 'image',
                    gallery:{enabled:true}                
                });
                
                $('body').addClass('loaded');
            });
        </script>
    </body>
</html>